.img {
  border-radius: 400px;
  width: 50px;
  margin-right: 7px;
  position: relative;
}

.cc {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.mm {
  height: 500px;
}

.top {
  height: 400px;
  object-fit: cover;
}

.bg {
  background-color: rgb(238, 232, 232);
}

.text,
.p {
  color: brown;
}

.ss {
  color: black;
}

.test {
  color: crimson;
}

.font {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btn1 {
  border: 1px;
  border-color: white;
  border-style: solid;
  border-top: none;
}
